* {
  font-family: 'Aref Ruqaa', serif;
}

h1 {
  color: tomato;
  font-size: 50px;
}

p {
  color: blue;
}

#purplep {
  color: purple;
}

#header img {
  width: 80px;
  height: 80px;
}

#content img {
  width: 30%;
}

span {
 width: 80px;
}

#header {
  background-color: linen;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content {
  background-color: cyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer {
  background-color: gainsboro;
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: maroon;
}
